@import "tailwindcss";


:root {
  /* ==== Font & text rendering ==== */
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;


  scrollbar-color: canvasText #0000;

  /* ==== Size & layout ==== */
  min-width: 100vw;
  min-height: 100vh;
  font-size: medium;

  /* ==== Spacing & UI constants ==== */

  /* ==== Theming ==== */
  color-scheme: light dark;
  --text-color: light-dark(#f5f5f5, #1a1a1a);
  --button-text-color: light-dark(#ffffff, #000000);
  --input-border-color: light-dark(#d0d0d0, #444);
  --placeholder-color: light-dark(#999999, #888888);
  --outline-color: light-dark(#646cff, #8ab4f8);
}


body {
  display: flex;
  flex-direction: column;
  margin: 0;
  min-width: 100vw;
  min-height: 100vh;
  line-height: 1.5;
  font-weight: 400;
  font-size: medium;

  color: var(--text-color);
  /* background: light-dark(#ffffff, #000000); */

  background: url(https://raw.githubusercontent.com/lucasromerodb/liquid-glass-effect-macos/refs/heads/main/assets/flowers.jpg) center/cover;
  background-size: 600px;
 -webkit-animation: moveBackground 60s linear infinite;
         animation: moveBackground 60s linear infinite;

}

[data-theme='light'] :where(html, body) {
  color-scheme: light only;
}

[data-theme='dark'] :where(html, body) {
  color-scheme: dark only;
}

@keyframes moveBackground {
  from {
    background-position: 0% 0%;
  }

  to {
    background-position: 0% -1000%;
  }
}


*,
*:after,
*:before {
  box-sizing: border-box;
}