@import "tailwindcss";

:root {
  /* ==== Font & text rendering ==== */
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  scrollbar-color: canvasText #0000;

  /* ==== Size & layout ==== */
  min-width: 100vw;
  min-height: 100vh;
  font-size: medium;

  /* ==== Spacing & UI constants ==== */
  --gap: 1rem;
  --gap-inside: 0.75rem;
  --padding: 1rem;

  /* ==== Theming ==== */
  color-scheme: light dark;
  --text-color: light-dark(rgba(26, 26, 26, 0.8), rgba(245, 245, 245, 0.85));
  --text-color-hover: light-dark(rgba(26, 26, 26, 1), rgba(245, 245, 245, 1));

  --input-bg: light-dark(rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.06));
  --input-text: light-dark(rgba(0, 0, 0, 0.7), rgba(255, 255, 255, 0.8));
  --input-placeholder: light-dark(rgba(0, 0, 0, 0.4), rgba(255, 255, 255, 0.4));
  --input-border-color: light-dark(
    rgba(200, 200, 200, 0.4),
    rgba(255, 255, 255, 0.1)
  );
  --input-hover-bg: light-dark(
    rgba(255, 255, 255, 0.6),
    rgba(255, 255, 255, 0.12)
  );
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  min-width: 100vw;
  min-height: 100vh;
  line-height: 1.5;
  font-weight: 400;
  font-size: medium;

  color: var(--text-color);
  /* background: light-dark(#ffffff, #000000); */

  /* background: url(https://raw.githubusercontent.com/lucasromerodb/liquid-glass-effect-macos/refs/heads/main/assets/flowers.jpg) center/cover; */
  background-size: 600px;
  /* -webkit-animation: moveBackground 60s linear infinite;
  animation: moveBackground 60s linear infinite; */
}

[data-theme="light"] :where(html, body) {
  color-scheme: light only;
}

[data-theme="dark"] :where(html, body) {
  color-scheme: dark only;
}

@keyframes moveBackground {
  from {
    background-position: 0% 0%;
  }

  to {
    background-position: 0% -1000%;
  }
}

*,
*:after,
*:before {
  box-sizing: border-box;
}
